{{ define "main" }}
  <main>
    <article>
      <div class="title">
        <h1 class="title">{{ .Title }}</h1>
        <div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
      </div>
      {{ if isset .Params "tldr" }}
      <div class="tldr">
        <strong>tl;dr:</strong>
        {{ .Params.tldr }}
      </div>{{ end }}

      <section class="body">
        {{ .Content }}
      </section>

      <div class="post-tags">
        {{ if ne .Type "page" }}
        {{ if gt .Params.tags 0 }}
        <nav class="nav tags">
          <ul class="tags">
            {{ range (.GetTerms "tags") }}
              <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
        </nav>
        {{ end }}
        {{ end }}
      </div>
    </article>
  </main>
{{ end }}
