<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} | Home </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:description" content="{{ .Params.description }}" />
	<meta name="twitter:description" content="{{ .Params.description }}" />
	<meta name="description" content="{{ $.Param "description" }}" />
	<meta name="description" content="{{ $.Params.description }}" />

	<meta property="og:title" content="{{ $title }} | {{ $siteTitle }}" />
	<meta name="twitter:title" content="{{ $title }} | {{ $siteTitle }}" />

	<meta property="og:image" content="{{ .Site.Params.og_image }}"/>
	<meta itemprop="name" content="{{ $title }} | {{ $siteTitle }}" />
	<meta name="application-name" content="{{ $title }} | {{ $siteTitle }}" />
	<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favico.gif" type="image/gif">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
</head>
