{{ define "main" }}
  <main>
    <article>
      <div class="title">
        <h1 class="title">{{ .Title }}</h1>
      </div>

      <section class="body">
        {{ .Content }}
      </section>
    </article>
  </main>
{{ end }}
